
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel='stylesheet' type='text/css'>
    
    <title>Loan Approval Prediction</title>
  </head>

  <body style="background: #000;">
 
<div class="container main" style="color:blue">

  <div class="jumbotron" id="holder">
     <br>
       <center><b></b></center>
     <br>
     <br>
    <center><h1 class='main_heading'> Loan Approval Prediction</h1></center>
	<p>Machine Learning Algorithm to predict whether a loan would be approved or not.</p>
	<p><b>Please fill the form below</b></p>
    <br>
    <form class="form-horizontal" action="{{ url_for('predict')}}" method="post">
   

      <div class="form-group">
        <div class="col-sm-10">
          <input  class="form-control" type= "text" name="ApplicantIncome" placeholder="Enter your current income" required="required" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <input  class="form-control" type="text" name="CoaplicantIncome" placeholder="Enter Your co-applicant's income" required="required" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <input  class="form-control" type="text" name="LoanAmount" placeholder="Enter the amount you wish to borrow" required="required" />
        </div>
	  </div>

      <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number" name="Loan_Amount_Term" required="required">
                <option value="0">Please choose  a loan term</option>
                <option value="12">12 days</option>
                <option value="36">36 days</option>
                <option value="60">60 days</option>
                <option value="84">84 days</option>
                <option value="120">120 days</option>
                <option value="180">180 days</option>
                <option value="240">240 days</option>
                <option value="300">300 days</option>
                <option value="360">360 days</option>
                <option value="480">480 days</option>
            
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number"  name="Credit_History" required="required">
                <option value="0">Do you have a credit history? </option>
                <option value="1">Yes</option>
                <option value="0">No</option>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number"  name="Dependents" required="required">
                <option value="0">How many dependents you have? </option>
                <option value="1">1</option>
                <option value="0">0</option>
                <option value="2">2</option>
                <option value="3">3</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number" name="Self_Employed" required="required">
                <option value="0">Are you Self Employed?</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <select class ="form-control" type="number" name="Property_Area" required="required">
                <option value="0">Please select your geographical area</option>
                <option value="0">Urban</option>
                <option value="2">Semiurban</option>
                <option value="1">Rural</option>
          </select>
        </div>
      </div>
    
      
      
      <div class="form-group">
        <div class="col-sm-10">
          <select class ="form-control" name="Education" required="required">
                <option value="0">Please select your qualification</option>
                <option value="Graduate">Graduate</option>
                <option value="Not Graduate">Not Graduate</option>
          </select>
        </div>
      </div>
       <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number"  name="Married" required="required">
                <option value="0">Are you Married?</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
          </select>
        </div>
      </div>

       

       <div class="form-group">
        <div class="col-sm-10">
          <select class="form-control" type="number"  name="Gender" required="required">
                <option value="0">Please choose your gender</option>
                <option value="1">Male</option>
                <option value="0">Female</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="button btn btn-default" style="background-color:red; border-color:blue; color:white">PREDICT</button>
        </div>
      </div>
    </form>

    <br>
    <br>

        <h3>{{ prediction_text }}</h3>

  </div>
  </div>

  </body>
</html>
